@{
    ViewData["Title"] = "Home Page";
}

<img src="@Url.Action("ReturnImage","Home")" alt="Alternate Text" style="padding: 50px" />
<hr />
<a asp-controller="Home" asp-action="Index" class="btn btn-success">Generate new image</a>
